.error {
    color: #FA8072
}

.success {
    color: #2ddb01
}

.column {
    float: left;
    width: 50%;
  }
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}